.load {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  border: none;
  cursor: pointer;
  color: var(--grey99);
  font-size: 14px;
  line-height: 16px;
  font-family: 'Roboto', serif;
}

@media all and (min-width: 1024px) {
  .cardsList {
    padding: 40px 0;
  }
}
